.nav_button{
    width:100px;
    padding:0;
    height: auto;
}
.header_button{
    width:310px;
    height:30px;
    margin:auto;
}
.content{
    width: 500px;
    height:300px;
    margin:auto;
    position:relative;
}

#show{
    background-color:#b6ff00;
    display:block;
}
#add{
    background-color:#ff006e;
     display:none;
}
#remove{
    background-color:#a08989;
     display:none;
}